body {
	background: #222;
	text-align: center;
}

canvas {
	display: inline-block;
	max-width: 100vw;
	max-height: 100vh;
	cursor: -webkit-grab;
	cursor: grab;
}

canvas:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}