/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2016, 15:47:57
    Author     : marcauresoar
*/
.main-text {
    font-size: 45px;
    text-align: center;
}
.main-subtext {
    font-size: 16px;
    text-align: center;
}

.div-cab {
    padding-left: 30px;
}


.img-circle {
    border-radius: 50%;
}




.placar1 .vencedor {
    color: #009688;
    font-size: 25px;
}
.placar1 .pontos {
    font-weight: bold;
    font-size: 25px;
}
.placar1 .versus {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.placar2 .vencedor {
    color: #009688;
    font-size: 45px;
}
.placar2 .pontos {
    font-weight: bold;
    font-size: 45px;
}
.placar2 .versus {
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
}


.placar3 .vencedor {
    color: #009688;
    font-size: 80px;
}
.placar3 .pontos {
    font-weight: bold;
    font-size: 80px;
    margin-top: 85px;
}
.placar3 .versus {
    text-align: center;
    font-size: 36px;
    margin-top: 120px;
}

@media (max-width: 767px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
    
}
@media (min-width: 992px) and (max-width: 1999px) {
    
}
@media (min-width: 1200px) {
    
}